extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p Cagers Basketball will run several weeks of basketball camp for boys grades 3-12. Each camp is limited to 40 players a week or session so that all players get more repetition and individual instruction. The camps are offensive oriented, and teach all aspects of offensive play.
        p Cagers Basketball Camps are a great way to improve skills and stay sharp in the off-season. The camps are also very reasonably priced, allowing many young players to attend more than one week of camp.
        p Above all, we want players to have fun playing the game while learning the essential fundamentals that will help them continue to improve. Each player attending camp will learn a practice plan that they can take home with them and use as a blueprint for getting better when they go out on their own to practice.
