extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p CAGERS BASKETBALL ACADEMY WILL OFFER FALL COACHING CLINICS FOR ANY YOUTH COACHES WANTING TO LEARN MORE ABOUT HOW TO TEACH AND COACH YOUTH BASKETBALL.
        p The clinics are a must attend event for Hot Shot coaches and any beginner coach working with kids grades 2-8. The clinic will cover all fundamental aspects of man-to-man defense and offensive play and will demonstrate the drills you can use to teach these skills.
        p The clinics are broken up into two 2-1/2 hour sessions, with defensive fundamentals covered in the first session and offensive fundamentals covered in the second session.
