extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p For additional information regarding Cagers Basketball please contact coach Edwards.
        p.
          COACH EDWARDS:
          (503) 735-5552
