extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p Cagers Basketball offers individual and group basketball training sessions. Players are grouped by age and skill level. The focus of each session is the continued improvement of each individual's offensive fundamentals.
        p SKILLS COVERED AREA AS FOLLOWS:
        p.
          proper footwork
          ball handling
          passing
          shooting technique
          shooting off the dribble
          shooting(moving without the ball)
          coming off screens
          one-on-one skills
          post play-both facing the basket / playing with back to the basket
          how to split a double team
          how to score against a quicker defender
          how to score against a taller defender
          how to execute a proper shot fake
          proper free throw fundamentals
        p BASIC DEFENSIVE TECHNIQUE:
        p. 
          Stance
          Footwork
          Proper balance and positioning
          On ball and off the ball defense
        p INDIVIDUAL TRAINING SESSION DATES:
        p April, May, June, July, August, September and October.
        p This program is a must for any young player who wishes to learn and develop the essential skills needed to play at the high school level. Remeber this - In 2010 over 65 freshmen were cut at Skyview and Columbia River - High schools alone. Parents need to understand that every high school has only one freshman team and can keep only 12 players. Too many kids simply come into high school not prepared, because they have not played enough and have not learned the proper fundamentals. As a high school varsity coach, I stress daily the essential skills both offensively, and defensively that should be mastered if you wish to, not only play in high school, but to excel at a high level.
        p
        p CAGERS IS A GREAT PROGRAM TO HELP ANY YOUNG PLAYER REACH THAT GOAL
        p FOR MORE INFORMATION ON THIS PROGRAM CALL
        p PROGRAM DIRECTOR GREG EDWARDS AT (503) 735-5552
