extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p Cagers Basketball was created to provide competitive basketball programs for players in grades 3-12, who have a love for the game and the desire to continue to work to become the best that they can be in the game.
        p Each separate basketball  program offered fulfills a need in the development of each individual player, based on age, skill level and physical ability.
        p Teaching proper fundamental technique in regard to each skill; whether offensive or defensive and helping each player to understand the tremendous benefit and importance in being grounded first in fundamentals of the game is a primary goal of Cagers Basketball.
        p A second primary goal the program is to help each individual player develop a sense of commitment, work ethic, and to gain an understanding of just how much time and effort one must put in to become the best that they can be in the game. A players goal should not be to become the next Michael Jordan, Larry Bird, Kobe Bryant or Lebron James, it should be to become the best individual and team player that you can become, within the limits of your physical abilities. However to reach this goal you may have to spend an equal amount of time and effort as any of the aforementioned pros did when they were growing up, and learning the game.
        p This basketball program is definitely here to serve the kids. For them to enjoy the game, learn how to play the right way and continue to improve, so as to reach their full potential.
        p The question is: "WHAT ARE THE PLAYERS PREPARED TO DO?"
        
