extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p Cagers Basketball is under the direction of program director Greg Edwards. Coach Edwards comes from an excellent coaching background and sees his role first and foremost as a teacher of the game.
        p " I believe you teach in practice each day and you 'coach' in games. If you do a great job teaching, your players and teams will play as close to their potential as is physically possible under game condidtions. "
        p Coach Edwards father was a very successful college coach at the Division one level for 25 years, and his uncle, Rollad Todd was the first head coach of the Portland Trailblazers, as well as coaching at the college level for more than 35 years. Coach Edwards has been a varsity coach for 15 years and has helped lead those teams to 14 state playoff appearances in 15 seasons. He is the all-time winningest coach in school history at Hillsboro High School of Oregon, and has an overall high school record of 220-95. This basketball Academy is an important goal in his coaching life.
        p " It is a great priviledge and opportunity to get to work with and help so many young players of all ages who have a passion for this great game, and have the desire to continue to learn and the willingness to work to keep getting better, so they so they may become the best they can be in the game. "
        p My intention is to build a foundation for a solid program that is able to serve the many young players in the Salmon Creek community, and southwest Washington area for years to come.
