extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p This program combines fundamental basketball drills with the use of the strength shoe to greatly improve both athletic performance and basketball skill level. This program is second to none in improving quickness, jumping ability, and raw speed. The strength shoes utilize plyometric construction to target calf muscle training, building mass and defininition, while increasing quantity of fast twitch muscle fibers. Results include increase in vertical jump, reactive leg strength jumping skill, body coordination and range of motion. Average results of athletes who have completed this program are as follows
        p.
          BENIFITS:
          Increase vertical jump 5 to 10 inches
          Lower 40 yard dash time by 2/10th of a second
          Increase reactive strength, jumping skill and coordination
          Create maximum power output
          Increase fast twitch muscle fibers
          Increase calf mass and definition
          Increase range of motion
          Improved basketball skill level through the training of this program
          cagers photo
        p If you are a serious athlete, or a parent of an athlete, the strength shoe basketball training program will give you or your child the tools to prepare for the highest level of compitition.
        p.
          Current St. Anthony High School coach, Bob Hurley, who recently won his 1000th game, was inducted into the basketball hall of fame in 2010 (One of only two high school coaches in history to be included) and winner of 26 New Jersey State high school state championships says this about the Strength Shoe basketball program.
          " We have used the Strength shoe training program at St. Anthony's since 1989, and in over 40 years of coaching, I have never seen a training program that improves a players quickness and jumping ability like the Strength Shoe does. I'm amazed that more kids and basketball programs do not utilize the strength shoe, in training athletes, especially when you can combine a basketball workout with a strength shoe workout to accomplish two goals at once. Improve basketball skill level and improved athletic ability.
          Many professionals in the strength training field have approached me over the years with different methods to increase strength, speed, quickness and jumping ability, however I have yet to see another training method that yields the results that the strength shoe system produces in out athletes. "
          - Bob Hurley, St. Anthonys Jersey City, NJ
        p Cagers Basketball will offer 3 strength shoe training sessions per year, each session is 3 days a week for a 9 week period as prescribed by strength systems to achieve maximum results. Space per session is limited to 24 players.
        p > Cagers can order the shoes for you. When filling out the registration form, simply indicate whether you need a pair of shoes and what size.
