extends ../layout

block content
  div.container
    div.row
      div.col-md-3
        img.img-responsive(src='/img/logo.PNG')
      div.col-md-9
        h1=title
        hr
        p Cagers Basketball offers a competitive youth program for young players in grades 4-8.
        p.
          IN 2014 AND 2015 WE WILL OFFER:
          A winter season which runs November 7th thru March 7th for young players in grades 4-8.
          A spring season for players in grades 5-8, runs March 15th - May 15th.
          This program is for the competitive player who one day aspires to play on his respective high school team. This is not a rec program, and requires a reasonable commitment of each player to his team.
        p Players in the Columbia River High School and Skyview High School districts are the main focus of the program because of both gym location and the goal of having a continued feeder program for the young players who will be the future stars at Columbia River and Skyview High Schools.
        p.
          This program provides and excellent balance between the number of practices and games to ensure proper player development.
          Our teams get a minimum of 3 practices a week and play 24-30 games during the winter season.
